.topp{

	background-color: black;

}
.sym{
	color: white;
	width: 40px;
	height: 40px;
}
.men{
	float: right;
	color: white;
	font-size: 40px;
}

body{

	background-color: #F4F4F4;

}

.tesmo{
	background-color: #FFFFFF;
	border-radius: 10px;
	text-align: center;
	height: 100px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.tesmo:hover, .card:hover, .buton:hover
{
	background-color: #EBDEF0;
}

.bg
{
	background-image: url("hotel.png");
	width: 600px;
	height: 450px;
	text-align: center;
	color: white;
	z-index: auto;
}
.underblack
{
	border-bottom: 2px solid black;
}

.underwhite
{
	border-bottom: 2px solid white;
}

.alignmt{

	text-align: center;

}

.buton{

	border-radius:10px;

	background-color: white;

}
.fonticon{
		font-size: 100px;
}
.alarmpic{
	width: 100px;
	height: 100px;
}
.imagearea{

	/*text-align: center;*/

	background-color: white;

}

.imageareapic 
{
	height: 270px;
}

.footimage{

	height: 202px;

	width:180px;

	}

.foothead{

	width: 1200px;

	height:270px;

}
.textshade{
	text-shadow: 1px 2px 2px black;
}
.linear{

	background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 19.98%);
}
.rightfloat{
	float: right;
}