.logo{
	background-color: black;
}
body{
	background-color: #FBFCFC;
}
.tesmo{
	background-color: white;
	border-radius: 6px;
	width: 360px;
	height: 100px;
	text-align: center;
	box-shadow: 2px;
}
.bg{
	background-image: url("https://data.whicdn.com/images/85745739/superthumb.png?t=1384048051");
	width: 600px;
	height: 350px;
	text-align: center;
}
.underblack{
	border-bottom: 2px solid black;
}
.underwhite{
	border-bottom: 2px solid white;
}
.alignmt{
	text-align: center;
}
.buton{
	border-radius:10px;
	background-color: white;
}
.input-icons i { 
            position: absolute; 
        } 
          
.input-icons { 
            width: 100%; 
            margin-bottom: 10px; 
        } 
          
.icon { 
            padding: 10px; 
            min-width: 40px; 
        }
 .lastcont{
 	height: 300px;
 }
.lastcontbody{
	
	text-align: center;
	background-color: white;
}
.lastcontpic 
{
 background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgfFGvzaaXiF8p6CM3B1-HeCEEgmY7lA1Fx29vGp8ECGp2aKf3");
}
